.blog {
    padding: 15px;
  } 

 .img {
    width: 300px;
    height: 248px;
    object-fit: cover;
    object-position: 85% 100%;
}

.article {
    color: darkBlue;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 21px;
}

.date{
    color:gray;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 19px;

}

.layout {
  background-color: white;
  width: 1600px;
  height: 700px;

  
}

.blogs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 318px;
  width: 280px;
  padding: 0px 0px 0px 120px;
}

.slogan {
  padding-top: 130px;
}

.textbox {
  padding-left: 771px;
  padding-right: 739px;
  margin-bottom: 21px;
  width: 94px;
  height: 34px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(to right,#41B6E6 0%, #556AEC 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
}

.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px 10px;
}