
.blog {
    padding: 15px;
    width: 1600px;
    height: 700px;
}

.blogbox {
    padding-left: 771px;
    padding-right: 739px;
    margin-bottom: 21px;
    width: 94px;
    height: 34px;
  }

.blogname {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  background: linear-gradient(90deg, #41b6e6 0%, #556aec 57.67%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
}

.blogtext {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 0px;
    padding: 0px 0px 20px;
}

.blogimg {
    width: 300px;
    height: 248px;
    object-fit: cover;
    object-position: 85% 100%;
    padding-right: 30px;
}

.blogarticle {
    color: darkBlue;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 21px;
}

.blogdate {
    color:gray;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 19px;
}

.blogitems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 318px;
  width: 280px;
  padding: 0px 0px 0px 120px;

  }